@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
margin:0;
padding:0;
color:white;
background:url("screen-4.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position:center center;
font-family: 'Indie Flower', cursive;
overflow:scroll;
}

.login-box {
position:absolute;
top:17%;
left:45%;
transform:translate(-17%,-45%);
}

.login-box h1{
float:left;
font-size:40px;
border-bottom:6px solid #4CAF50;
}

.textbox {
width:100%;
overflow:hidden;
font-size:20px;
padding:8px 0;
margin:8px 0;
border-bottom:1px solid #4CAF50;
}

.password{
width:100%;
overflow:hidden;
font-size:20px;
padding:8px 0;
margin:8px 0;
border-bottom:1px solid #4CAF50;
}

.login-box input {
width:260px;
border:none;
outline:none;
background:none;
color:white;
font-size:18px;

}